<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.th.thservice.dao.UpdateContentMapper">
  <resultMap id="BaseResultMap" type="com.th.thservice.entity.UpdateContent">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="upcontent_id" jdbcType="INTEGER" property="parentId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `describe`, path, `status`, createBy, createTime, lastUpdateBy, lastUpdateTime
  </sql>
  <select id="findByParent" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from update_content where upcontent_id=#{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from update_content
    where upcontent_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.th.thservice.entity.UpdateContent">
    insert into update_content ( upcontent_id, `content`, sort
      )
    values (
      #{parentId,jdbcType=INTEGER},#{content,jdbcType=VARCHAR},#{sort}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.th.thservice.entity.UpdateContent">
    update update_content
    set
      content = #{content,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>